.slide-in {
    display: block;
    animation: slideIn 1.2s ease-in-out;
}

@keyframes slideIn {
    from {
        right: -50%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}

.zoom-out {
    animation: zoomIn 0.8s ease-in-out;
}
@keyframes zoomIn {
    from{
        left: -50%;
    }
    to {
        left: 50%;
    }   
}
.slide-out {
    animation: slideOut 0.8s ease-in-out forwards;
}
@keyframes slideOut {
    from{
        left: 50%;
    }
    to {
        left: -50%;
    }   
}